.nav-link{
	border : 1px solid blue;
	margin : 2px;
	background-color: blue;
	color: white;
}
.nav{
	width : 100%;
	margin : 40px;
}
.error{
	color : red;
	font-weight: bold;
}
.requis{
	color : red;
}