.nav-link{
	border : 1px solid #06DCFB;
	margin : 2px;
	background-color: #06DCFB;
	color: black;
}
.img{
	margin-bottom : 20px;
}

.imgHome{
	max-width : 65%;
	margin-bottom : 20px;
}

.nav{
	margin-bottom : 40px;
}

.error{
	color : red;
	font-weight: bold;
}
.requis{
	color : red;
}
.bouton{
	margin-top : 40px;
}

li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 5vh;
}

.copyright,  .impressum
{
  text-align: center;
  font-size: 12px;
}

.logo
{
  height: 3vh;
}

@media (max-width: 768px) 
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  
  .sozial
  {
    margin-bottom: 1vh;
  }
}

.searchHeader{
	margin-bottom : 20px;
}

.imgComments{
	max-width : 10%;
	margin-right : 10px;
}

.media-body{
	border : 1px solid grey;
	margin-bottom : 5px;
}

.imgProfil {
	margin-bottom : 10px;
}
@media (max-width:800px) {
.imgProfil {
	max-width : 50%;
}
}
