.nav-link{
	border : 1px solid blue;
	margin : 2px;
	background-color: blue;
	color: white;
}
.img{
	margin-bottom : 20px;
}

.nav{
	margin-bottom : 40px;
}

.error{
	color : red;
	font-weight: bold;
}
.requis{
	color : red;
}